<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ishaan's Blog</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>Ishaan's Blog</h1></a>
        <p>built by Ishaan Nerurkar</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>

    <div class="about content">
      <h2>About us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ullam
        exercitationem veritatis laboriosam qui possimus, id, labore fugit vero
        harum dolorum sunt porro sit voluptas, suscipit reiciendis. Iste,
        ratione recusandae. Dicta, harum quod voluptas totam pariatur nihil
        corporis, labore vel alias aliquid quam qui. Officiis totam labore
        debitis similique! Nihil.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores eaque
        labore nam, ad aspernatur delectus error debitis vero accusamus neque.
      </p>
    </div>
  </body>
</html>
