<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ishaan's Blog</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>Ishaan's Blog</h1></a>
        <p>built by Ishaan Nerurkar</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>

    <div class="create content">
      <h2>Create your blog</h2>
      <form>
        <label for="title">Blog Title</label>
        <input type="text" id="title" required />
        <label for="snippet">Blog Snippet</label>
        <input type="text" id="snippet" required />
        <label for="body">Blog Body</label>
        <textarea id="body" required></textarea>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
